# NUMBERS

### Write an equation using multiplication, division , an exponent, addition and substraction that is equal to 125.26

In [7]:
100*10/10+6**2-10.74

125.26

### Answer these three questions without typing code. then type code to check your answer 

- What is the value of expression 4 * (6 + 5)
- What is the value of expression 4 * 6 + 5
- What is the value of expression 4 + 6 * 5

In [1]:
4*(6+5)

44

In [2]:
4*6+5

29

In [3]:
4+6*5

34

### What is the type of the result of the expression 3 + 1.5 + 4?

In [4]:
3+1.5+4

8.5

### What would you use to find the nnumber's square root, as well as square?

In [10]:
# Square root:
print(2**2)

4

In [11]:
# Square:
print(4**0.5)

2.0

# STRINGS

### Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below.

In [18]:
s = 'hello'
# Print out 'e' using indexing
# Code here
s[1]

'e'

### Reverse the string 'hello' using slicing

In [21]:
s = 'hello'
# Reverse the string using slicing
# Code here
print (s[::-1])

olleh

### Given the string hello, give two methods of producing the letter 'o' using indexing.

In [23]:
s = 'hello'
# Print out the 'o'

# Method 1:
#code here
print (s[-1])

o

In [25]:
# Method 2:
#code here
print(s[4])

o

# LISTS

### Build this list [0,0,0] in two separate ways

In [27]:
# Method 1:
l = [0,0,0]
print (l)
l = [0]*3
print(l)

[0, 0, 0]
[0, 0, 0]

In [28]:
# Method 2:
l1 = list()
l1.append(0)
l1.append(0)
l1.append(0)
print(l1)

[0, 0, 0]

### Reassign 'hello' in this nested list to say 'goodbye' instead

In [31]:
l = [1,2,[3,4,'hello']]
l1 = l[2]
l1[l1.index('hello')] = 'goodbye'
print(l)

[1, 2, [3, 4, 'goodbye']]

### Sort the list bellow:

In [32]:
l = [5,3,4,6,1]
l.sort()
print(l)
l = [5,3,4,6,1]
print(sorted(l))

[1, 3, 4, 5, 6]
[1, 3, 4, 5, 6]

# DICTIONARIES

### Using keys and indexing, grab the 'hello' from the following dictionaries:

In [33]:
d = {'simple_key':'hello'}
# Grab 'hello'
print(d['simple_key'])

hello

In [34]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
print(d['k1']['k2'])

hello

In [35]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
# Grab 'hello'
print(d['k1'][0]['nest_key'][1][0])

hello

In [1]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
# Grab 'hello'
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

### Can you sort a dictionary? Why or why not?

In [ ]:
you cant sort a dictionary because it is keys and values

# TUPLES

### What is the major difference between tuples and lists?

In [ ]:
 tuples are immutable and lists are mutable

### How do you create a tuple?

In [ ]:
with parentheses and a comma delimited list (1,2.3)

# SETS

### Use a set to find the unique values of the list bellow:

In [39]:
l = [1,2,2,33,4,4,11,22,3,3,2]
print (l)
s = set(l)
print (s)

[1, 2, 2, 33, 4, 4, 11, 22, 3, 3, 2]
{1, 2, 33, 4, 3, 11, 22}

# BOOLEANS

### What will be the resulting Boolean of the following pieces of code (answer first them check by typing it in!)

In [40]:
2 > 3
#false

False

In [41]:
3 <= 2
#false

False

In [42]:
3 == 2.0
#false

False

In [43]:
3.0 == 3
#true

True

In [44]:
4**0.5 != 2
#false

False

### What is the boolean output of the cell block below?

In [5]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

#True or False?
#3>=4
#false
l_one[2][0] >= l_two[2]['k1']

False

## GOOD JOB!!